div.bodyContentDiv {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.bodyContent {
    width: 80%;
    max-width: 1080px;
}

div.textBox {
    width: 100%;
    border: solid 2px;
    border-color: #CEE000;
    background-color: #FFFFFF;
    font-size: 16px;
    font-family: arial, sans-serif;
    color: #262D32;
}

div.imageBox {
    width: 100%;
    max-width: 1080px;
    max-height: 608px;
    display: flex;
    border: solid 2px;
    border-color: #CEE000;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

img.image {
    height: 100%;
    max-width: 1080px;
    max-height: 608px;
}

h1.resourceTitle {
    font-size: 24px;
    font-family: arial, sans-serif;
}

a.link {
    text-decoration: underline;
    text-decoration-color: #CEE000;     /* this should work on most browsers */
    font-weight: bold;
    color: #262D32;
}

.link:hover {
    text-decoration-color: #00857F;
}
